<body>
  <!-- Page Content -->
  <div class="container">

    <h3 class="lead">Select the type of analysis you want to perform.</h3>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-4 col-sm-12 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="assets/img/pie.png" alt="" style="height: 100%;">
          <div class="card-body">
            <h4 class="card-title">Single country analysis</h4>
            <p class="card-text">Gather and visualize data about a single country through histograms and piecharts.</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary" (click)="singleCountry()">Select</button>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="assets/img/hist.png" alt="" style="height: 100%;">
          <div class="card-body">
            <h4 class="card-title">Multiple countries analysis</h4>
            <p class="card-text">Compare two countries through histograms and piecharts.</p>
          </div>
          <div class="card-footer">
              <button class="btn btn-primary" (click) = "multiCountry()">Select</button>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="assets/img/heat.png" alt="" style="height: 100%;">
          <div class="card-body">
            <h4 class="card-title">Data distribution</h4>
            <p class="card-text">Select a country and visualize crime's distribution through heatmaps of the territory.</p>
          </div>
          <div class="card-footer">
              <button class="btn btn-primary" (click) = "heatMap()">Select</button>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


</body>
