<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Country</th>
      <th scope="col">Endpoint Status</th>
      <th scope="col">Mapping Status</th>
      <th scope="col">Upload Data From Endpoint</th>
      <th scope="col">Upload/Modify Mapping</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let country of countriesStatus'>
      <td>{{country.country}}</td>
      <td>{{country.endpoint_status}}</td>
      <td>{{country.mapping_status}}</td>
      <td *ngIf='country.endpoint_status == "AVAILABLE"'><button class="btn btn-info">Upload</button></td>
      <td  *ngIf='country.endpoint_status == "NOT_AVAILABLE"' ><button class="btn btn-info" disabled>Upload Data</button></td>
      <td *ngIf='country.mapping_status == "NOT_AVAILABLE"'><button class="btn btn-info">Upload Mapping</button></td>
      <td *ngIf='country.mapping_status == "AVAILABLE"'><button class="btn btn-success">Modify Mapping</button></td>
    </tr>
  </tbody>
</table>